h1 {
    text-align: center;
    color: var(--dark-box-bg-color);
}

input {
    margin: 5px 25px 5px 15px ;
}

button {
    width: 100px;
    margin: auto 10px;
}

.inputBlock {
    text-align: center;
    width: 55%;
    margin: auto;
    color: var(--dark-box-bg-color);
}

.startOutputs {
    text-align: center;
}
