button[data-power-status=inactive] {
    background-color: rgba(255, 0, 0, 0.5);

    transition: background-color 1s;
}

button[data-power-status=active] {
    background: rgba(0, 255, 0, 0.75);
    transition: background-color 1s;
}

.button-progress{
    position: absolute;
    bottom: 0;
    left: 0;
}

.button-progress[data-transition=true] {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    transition: height 0.5s;
}
.button-progress[data-transition=false] {
    background-color: rgba(0, 0, 0, 0.25);
    height: 0;
    width: 100%;
    transition: height 0.5s;
}

#cbotPowerButton {
position: relative;
justify-self: center;
align-self: start;

margin: 5px;
padding: 0;

background-image: url("../../assets/power-button-symbol.png");
background-size: contain;
height: 50px;
width: 50px;
}

