.homePage {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 8fr;
    grid-template-areas:
        "header-left1 header-left2 header-main header-right1 header-right2"
        "top-left1 top-left2 top-main top-right1 top-right2"
        "bottom-left1 bottom-left2 bottom-main bottom-right1 bottom-right2";
}

.title {
    grid-area: header-main;
    justify-self: center;
}

.homeButton {
    margin: 10px;
}

.newItemButtons {
    grid-area: top-left1;
    align-self: start;
    margin-bottom: 50px;
}

.statusWidget {
    grid-area: top-main;
    justify-self: center;
    align-self: start;
}

#strategyDetailsBox {
    grid-area: top-left2;
}

#logoutButton {
    grid-area: header-right2;
    justify-self: end;
    align-self: start;
}

.outerSideBar {
    position: absolute;
    top: 50%;
    left: -10px;
    margin-left: 0;
    padding-left: 0;
    transition: 0.5s;
}

.outerSideBar:hover {
    left: 5px;
}

.outerSideBar[data-is_side_bar_open=true] {
    left: 30%;
}


