.homePage {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "............ header ............"
        "left-sidebar main right-sidebar";
}

.title {
    grid-area: header;
    justify-self: center;
}

.cardLoader {
    grid-area: left-sidebar;
    align-self: start;
    margin-left: 10px;

}

.leftHomeSideBar {
    grid-area: left-sidebar;
    align-self: center;
    margin-bottom: 50px;
}

.homeButton {
    margin: 10px;
}

.loadedCards {
    grid-area: right-sidebar;
    justify-self: end;
    margin-right: 10px;
}

.cardForm {
    width: border-box;
    grid-area: main;
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
    border-style: solid;
}

#cardPasswordVerify {
    grid-area: main;
    justify-self: center;
    align-self: start;
}

#cbotPowerButton {
    background-image: url("../../assets/power-button-symbol.png");

    background-size: contain;
    height: 50px;
    width: 50px;
}

.powerButtonOn {
    background: rgba(0, 255, 0, 0.5)
}

.powerButtonOff {
    background: rgba(255, 0, 0, 0.5)
}

