.homePage {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 8fr;
    grid-template-areas:
        "header-left1 header-left2 header-main header-right1 header-right2"
        "top-left1 top-left2 top-main top-right1 top-right2"
        "bottom-left1 bottom-left2 bottom-main bottom-right1 bottom-right2";
}

.title {
    grid-area: header-main;
    justify-self: center;
}

.homeButton {
    margin: 10px;
}

.cardLoader {
    grid-area: top-right1;
    justify-self: end;
    align-self: start;
    margin-right: 10px;

}

.newItemButtons {
    grid-area: top-left1;
    align-self: start;
    margin-bottom: 50px;
}

.loadedCards {
    grid-area: bottom-right1 / bottom-right1 / bottom-right2 / bottom-right2;
    justify-self: center;
    margin-right: 10px;
}

.cardForm {
    width: border-box;
    grid-area: bottom-main;
    justify-self: center;
    align-self: start;
    padding-bottom: 5px;
    border-style: solid;
}

.statusWidget {
    grid-area: top-main;
    justify-self: center;
    align-self: start;
}

#strategyActDetails {
    grid-area: top-left2;
}

#cardPasswordVerify {
    grid-area: bottom-main;
    justify-self: center;
    align-self: start;
}

#logoutButton {
    grid-area: header-right2;
    justify-self: end;
    align-self: start;
}

