.modal {
    width: 75vw;
    min-width: border-box;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: darkslategrey;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    padding: 20px;
    z-index: 9999;

    font-size: 1.5vw;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9998;
}

#strategyModal {
    padding: 5px 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
        ".... header ...."
        "mid-left mid-center mid-right"
        "bottom-left bottom-center bottom-right";
}

#strategyModal input {
    width: 4vw;
}

h2 {
    grid-area: header;
    margin: 5px;
    justify-self: center;
}

.strategyDetails {
    grid-area: mid-right;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: start;
}

.strategyDetails h3 {
    grid-column: 1 / 5;
    justify-self: center;
    align-self: start;
}

.strategyDetails label {
    grid-column: 1;
    justify-self: start;
    align-self: center;
}

.strategyDetails input {
    grid-column: 2;
    justify-self: end;
}

.strategyDetails select {
    grid-column: 2;
    justify-self: start;
}

#cryptoSelection {
    grid-area: mid-center;
}

#cryptoSelection input {
    width: 70px;
}

#strategyManagement {
    grid-area: mid-left;
}

#loadStrategiesSelect {
    width: 170px
}

#refineDetails {
    grid-area: bottom-left;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

input[type="number"] {
    width: 55px;
}

#closeButton {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;

    margin: 5px;

    text-align: center;
    font-weight: bold;
}
