.modal {
    width: 1000px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: darkslategrey;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    padding: 20px;
    z-index: 9999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9998;
}

#strategyModal {
    padding: 5px 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
        ".... header ...."
        "mid-left mid-center mid-right"
        "bottom-left bottom-center bottom-right";
}

h2 {
    grid-area: header;
    margin: 5px;
    justify-self: center;
}


#cryptoSelection {
    grid-area: mid-left;
}

#cryptoSelection input {
    width: 70px;
}

#strategyManagement {
    grid-area: mid-right;
}

#loadStrategiesSelect {
    width: 170px
}

#refineDetails {
    grid-area: bottom-left;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

input[type="number"] {
    width: 55px;
}

#closeButton {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;

    margin: 5px;

    text-align: center;
    font-weight: bold;
}
