:root {
    --darkest-shadow: hsl(235, 25%, 10%, 100%);
    --main-bg-color: hsl(230, 23%, 95%, 100%);
    --dark-box-bg-color: hsl(235, 25%, 20%, 100%);
    --status-off-bg-color: hsl(9, 100%, 70%, 100%);
    --light-border: hsl(44, 100%, 95%, 100%);
    --medium-border: hsl(44, 100%, 80%, 100%);
    --low-emphasis-label: hsl(260, 20%, 60%, 100%);
    --content-text: hsl(260, 50%, 30%, 100%);
    --side-bar-button: hsl(260, 50%, 80%, 100%);
}
body {
    background-color: var(--main-bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #EFFDF5;
    font-size: 2vw;
    font-family: 'Jost', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="range"]{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}

h1 {
    text-shadow: 2px 2px #9BAEBC;
}


select {
    font-size: 1.3vw;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

output[data-issuccess="true"] {
    color: lightgreen;
}

output[data-issuccess="false"] {
    color: var(--status-off-bg-color);
}